{%extends 'index.html'%}

{%load static%}

{%block extrahead%}
<link rel="stylesheet" href="{%static 'css/main/main.css'%}">
{%endblock%}

{%block header_nav-bar%}
    <div class="nav-bar_menu">
        {%if user.is_authenticated%}
        <div class="nav-bar_info">
            <span>Users: {{user.count}}</span>
        </div>
        <a href="{%url 'sing_out'%}"><button class="sing_button">Sing out</button></a>
        {%else%}
        <a href="{%url 'sing_in'%}"><button class="sing_button">Sing in</button></a>
        {%endif%}
    </div>
{%endblock%}

{%block content%}
{%endblock%}